<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/temp/css">
		<title>Data Tier</title>
		<style>
			th,td {
		  	text-align: center;
			} 
		</style>
	</head>
	<body>
		<center><h1>Select Data Tier for {{run_name}}</h1></center>
		<hr>
		<p>
		<center>	
			<table width="40%">
				<tr>
					<td><b>Data Tier</b></td>
					<td><b>Link to plots</b></td>
				</tr>
					{% for element in listDataTier %}
				<tr>
		  			<td>{{ element }}</td>
		  			<td><a href=./{{run_name}}/{{element}}>plots</a></td>

	 			</tr>
	 				{% endfor %}

				<table style="width:40%">
		<tr>
 		</tr>
			</table>
			<center>[<a href=/index>index</a>]</center>
		</center>
		<hr>
	</body>
</html>

