<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/temp/css">
		<title>Monitoring of dataset Production</title>
		<style>
			th,td {
		  	text-align: center;
			} 
		</style>
	</head>
	<body>
		<center><h1>Monitoring of dataset Production  </h1></center>
		<hr>
		<p>
		<center>	
			<table width="40%">
				<tr>
					<td><b>Data acquisition Era</b></td>
					<td><b>Processing version<b></td>
					<td><b>Link to Data Tiers</b></td>
				</tr>
					{% for element in listAcquisitionEra %}
				<tr>
		  			<td>{{ element }}</td>
		  			<td>v1</td>
		  			<td><a href=./get_era_data/get_data_tier/{{element}}>Data Tiers</a></td>

	 			</tr>
	 				{% endfor %}

				<table style="width:40%">
		<tr>
 		</tr>
			</table>
		</center>
		<hr>
	</body>
</html>

